#  Local .terraform directories
**/.terraform/*
terraform-provider-*
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*
plan.bin

# .tfvars files
*.tfvars
*.log

# .DS_Store file
.DS_Store 

#go packages
vendor/*
.vscode
.idea