version: "3"
services:
  minio:
    image: docker.io/minio/minio:RELEASE.2022-03-26T06-49-28Z
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
      MINIO_CI_CD: '1'
    command: server --console-address :9001 /data{0...3}
  adminio-ui:
    image: docker.io/rzrbld/adminio-ui:v1.93
    environment:
      API_BASE_URL: "http://localhost:8080"
      ADMINIO_MULTI_BACKEND: "false"
      ADMINIO_BACKENDS: '[{"name":"myminio","url":"http://localhost:8080"},{"name":"localhost","url":"http://localhost:8081"},{"name":"error","url":"http://localhost:8082"}]'
      NGX_ROOT_PATH: "/"
    ports:
      - "8000:80"
  adminio-api:
    image: docker.io/rzrbld/adminio-api:v1.82
    environment:
      MINIO_ACCESS: minio
      MINIO_SECRET: minio123
      MINIO_HOST_PORT: minio:9000
      MINIO_KMS_MASTER_KEY: terraform-key:da2f4cfa32bed76507dcd44b42872328a8e14f25cd2a1ec0fb85d299a192a447
      ADMINIO_HOST_PORT: :8080
    depends_on:
      - minio
      - adminio-ui
    ports:
      - "8080:8080"
