---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/minio_iam_ldap_group_policy_attachment/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

```shell
# IAM LDAP group policy attachments can be imported using the format: group-name/policy-name
terraform import minio_iam_ldap_group_policy_attachment.example group-name/policy-name
```
