---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile (printf "examples/resources/%s/resource.tf" .Name) }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import using `bucket/key` or `bucket/key#version_id`:

```shell
terraform import minio_s3_object_retention.example my-bucket/my-object
terraform import minio_s3_object_retention.example my-bucket/my-object#version-id
```
