name: Terraform Provider CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  checkup:
    name: Checkup
    runs-on: ubuntu-latest
    env:
      GOARCH: amd64
      GOOS: linux
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3
      - name: Run fmt
        uses: aminueza/go-github-action/fmt@master
      - name: Run sec
        uses: aminueza/go-github-action/sec@master
        with:
          path: minio/...
      - name: Run vet
        uses: aminueza/go-github-action/vet@master
      - name: Run errcheck
        uses: aminueza/go-github-action/errcheck@master
        with:
          path: minio/...
      - uses: dominikh/staticcheck-action@v1.2.0
        with:
          version: "2022.1.1"
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.x
        id: go
      - name: Build the docker-compose stack
        run: docker-compose up -d minio
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.2.6
          terraform_wrapper: false
      - name: Install Task
        uses: arduino/setup-task@v1
        with:
          version: "3.x"
      - name: Run install task
        run: task install
      - name: Run test task
        run: task test
