name: Terraform Provider CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  checkup:
    name: Checkup
    runs-on: ubuntu-latest
    env:
      GOARCH: amd64
      GOOS: linux
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
      - name: Run fmt
        uses: aminueza/go-github-action/fmt@master
      - name: Run sec
        uses: aminueza/go-github-action/sec@master
        with:
          path: minio/...
      - name: Run vet
        run: go vet ./...
      - name: Run errcheck
        uses: aminueza/go-github-action/errcheck@master
        with:
          path: minio/...
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
      - uses: dominikh/staticcheck-action@v1.3.0
        with:
          version: "2023.1.6"
          install-go: false
      - name: Build the Docker Compose stack
        run: docker compose up -d minio secondminio thirdminio fourthminio
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7
          terraform_wrapper: false
      - name: Install Task
        uses: arduino/setup-task@v1
        with:
          version: "3.x"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run install task
        run: task install
      - name: Run test task
        run: sudo apt install jq -y && sed "s/172.17.0.1/`docker network inspect bridge | jq -r .[].IPAM.Config[].Gateway`/" Taskfile.yml && task test
